.section--destinations {
    max-width: 1280px;
    margin: 0 auto;
}

.destinations-list__container {
    display: flex;
}

.img__container {
    position: relative;
}

.img__config {
    object-fit: cover;
    object-position: center;
    // margin-bottom: 0;
    position: relative;
}
.img--size {
    height: 288px;
    width: 100%;
}

.img__text-component {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    color: white;
    // margin-bottom: 0;
}

.img__title {
}

.img__title--bottom {
}
