.section--destinations {
    max-width: 1280px;
    margin: 0 auto;
}

.desinations__container {
    overflow: hidden;
}

.destinations-list__container {
    display: flex;
    flex-wrap: nowrap;
    // overflow-x: auto;
    scroll-behavior: unset;
    position: relative;
    // width: 100vw;

    // left: 50%;
    // right: 50%;
    // margin-left: -50vw;
    // margin-right: -50vw;

    // &::-webkit-scrollbar {
    //     display: none;
    //   }
}

.card {
    flex-shrink: 0;
    // flex: 0 0 auto;
    // display: inline-block;
}

.img__container {
    // position: relative;
}

.img__config {
    object-fit: cover;
    object-position: center;
    margin-bottom: 0;
    position: relative;
    display: block;
}
.img--size {
    height: 288px;
    // width: 250px;
    // width: auto;
}

.img__text-component {
    position: absolute;
    // height: 100%;
    // width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.img__title {
    text-align: center;
}

.img__text {
    text-align: center;
}

.img__title--bottom {
}
