.section--destinations {
    max-width: 1280px;
    margin: 0 auto;
    // display: grid;
    // grid-template-columns: minmax(20px, 1fr) 1280px minmax(20px, 1fr);
    // grid-template-rows: auto;
}

.desinations__container {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 3rem;
    margin: 5rem 1.25rem 0 1.25rem;
    // overflow: hidden;
}

.card-slider {
    position: relative;
    // overflow-x: hidden;
}

.destinations-list__container {
    display: flex;
    flex-wrap: nowrap;
    padding: 1.25rem;
    // overflow-x: auto;
    // scroll-behavior: unset;
    position: relative;
    // width: 100vw;
    // max-width: 100vw;
    box-sizing: border-box;
    // transform: translateX(-10%);
    left: 0;
    // left: 50%;
    // right: 50%;
    // margin-left: -50vw;
    // margin-right: -50vw;

    // &::-webkit-scrollbar {
    //     display: none;
    //   }
}

.card--destination {
    margin-right: 12px;
    // flex: 0 0 auto;
}

.card__img--destination {
    height: 288px;
    width: 280px;
    // width: auto;
}

.card__img-heading--desination {
    font-size: 19.2px;
    font-weight: 600;
}

.img__img-text {
    font-size: 13px;
    font-weight: 300;
    display: block;
}

.img__title--bottom {

}
