.section--experiance {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: $clr-blue-light-bg;
}

.experiance__container {
    margin: 5rem auto 0 auto;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
}


.experiance-list__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);


}
.experiance-card {
    text-align: center;

}

.experiance-card__icon {
    width: 50px;
}