.menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    color: $clr-black-custom;
    // color: $clr-bg;
    background-color: rgba(237, 236, 236, 0.4);
}

.menu__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    transition: 0.5s;
}

.menu__link {
    // color: $clr-grey-dark;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 2em 1em;
    font-weight: $fw-bold;
    

    &:hover {
        background-color: $clr-bg;
        color: $clr-white-custom;
    }
}

// .menu--white {
//     background-color: $clr-bg;

//     .menu__link {
//         &:hover {
//             background-color: $clr-white-custom;
//             color: $clr-bg;
//         }
//     }
// }

.logo {
    margin: auto 2em;
    display: flex;
    // background: transparent;
}

.logo__img {
    // width: 60px;
    // height: 3em;
    width: 3rem;
}

.logo__text {
    // color: $clr-white-custom;
    font-weight: 500;
}

.menu__toggle {
    font-size: 1.5em;
    margin: auto 2em;
    color: $clr-white-custom;
    cursor: pointer;
    display: none;
}

@media (max-width: 969px) {
    nav {
        // display: block;
        padding: 0.5em;
        background-color: $clr-bg;

        ul {
            position: absolute;
            flex-direction: column;
            top: 4.5em;
            left: -100%;
            width: 100%;
            text-align: center;

            a {
                background-color: $clr-bg;
                border: 1px solid $clr-blue-dark;

                &:hover {
                    background-color: $clr-white-custom;
                    color: $clr-bg;
                }
            }
        }

        ul.menu--toggle {
            left: 0;
        }
    }

    .menu__toggle {
        display: block;
    }
}
