.section__container--newsletter {
    display: grid;
    grid-auto-rows: auto;
}

.banner {
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 250px;
    height: 300px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(/images/sections/newsletter/newsletter.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    padding: 1.25rem;
    color: $clr-white-custom;
}

.banner__subheading {
    font-size: 0.85rem;
    font-weight: 500;
}

.banner__heading {
    font-size: 1.5rem;
    font-weight: 600;
}

.banner__container--center {
    display: flex;
    flex-direction: column;

}
