
$clr-orange-dark: #BE7E40;

$clr-blue-dark: #4F748B;
$clr-grey-medium: #586066;
$clr-blue-ligth: #6592A5;

$clr-grey-dark: #29414F;
$clr-grey-light: #B4B5B4;

$clr-black-custom: #06171E;
$clr-white-custom: #F1F0EE;


$clr-white-custom-dark: #EDECEC;
$clr-bg: #41889D;

// uzywane
$clr-blue-light-bg: #f3f6f5;
