
$clr-orange-dark: #BE7E40;

$clr-blue-dark: #4F748B;
$clr-grey-medium: #586066;
$clr-blue-ligth: #6592A5;

$clr-grey-dark: #29414F;
$clr-grey-light: #B4B5B4;

$clr-black-cutom: #06171E;
$clr-white-cutom: #EDECEC;