.section-map {
    width: 100%;
    margin: 5rem auto;
    background: blue;
}

.section-map__container {
    position: relative;
}

.map {
    position: relative;
    height: 50rem;
}

.overlay-map {
    position: absolute;
    height: 150px;
    width: 100%;
    // z-index: 2;
}

.overlay-map--top {
    top: 0;
    left: 0;
    background-image: linear-gradient($clr-blue-light-bg, rgba(255,255,255,0));
}

.overlay-map--bottom {
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(255,255,255,0), $clr-blue-light-bg);
}
